@import url(https://fonts.googleapis.com/css?family=Hind); /*--- Body Font --*/
@import url(https://fonts.googleapis.com/css?family=Nobile); /*--- Heading Font --*/
*{
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    background-color: #E5E5E5;
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    position: relative;
}
h1 {
    font-family: 'Nobile', sans-serif;
    text-align: center;
    font-size: 175%;
    color: #4A4444;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 7% 2%;
}
h3 {
    font-family: 'Nobile', sans-serif;
    text-align: center;
    font-size: 175%;
    color: #4A4444;
    text-transform: uppercase;
    letter-spacing: 1%;
}
p {
    padding: 2%;
    color: #4A4444;
    text-align: justify;
}
img {
    max-width: 100%;
    height: auto;
}
#banner-wrapper {
    max-width: 1280px;
    margin: auto;
}
.one-third {
    width: 28%;
    float: left;
    margin: 2% 0 3% 4%;
    text-align: center;
    color: #000;
}
.one-third .tech-stack div {
    margin-bottom: 40px;
    display: inline-block;
}
.one-third .tech-stack div img {
    height: 100px;
    width: 100px;
}
.discord {
  padding: 100px 0 0;
  text-align: center;
  background: #E5E5E5;
}
.register-button {  
    border: 6px solid transparent;
    border-image: linear-gradient(to right, #0865F1 0%, #C704F6 100%);
    border-image-slice: 1;
  
    background: #E5E5E5;
    color: #000;
    font-size: 2em;
    padding: 10px 40px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.register-button:hover {
    background-color: white;
    background: linear-gradient(to right, #0865F1, #C704F6);
    color: #fff;
} 
.left-col {
    width: 60%;
    float: left;
    margin: 4% 0 4% 4%;
}
.sidebar {
    width: 26%;
    float: right;
    margin: 4%;
}
.sidebar img {
    opacity: 0.8;
}
.clearfix {
    clear: both;
}
/*---Start Parallax Section---*/
.parallax-1 {
    background: url("images/it_crowd.jpg") repeat fixed 100%;
    text-align: center;
}
.parallax-inner {
    padding-top: 90px;
    padding-bottom: 300px;
}
.parallax-2 {
    background: url("images/SNES.png") repeat fixed 100%;
    text-align: center;
}
.parallax-inner h3, .parallax-inner p {
    font-weight: bolder;
    text-shadow: -2px 2px 15px black;
    color: #FFF;
}
/*---End Parallax Section---*/

/*--- Feedback ---*/

/*--- End Feedback ---*/

/*--- Footer ---*/
footer {
    background: #262E37;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    margin-top: 5%;
}
footer p {
    color: #FFF;
    text-align: center;
}
/*---Social Media---*/
.soc {
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 0;
  text-align: center;
}

.soc li {
  display: inline-block;
  margin: 1.2rem;
}

.soc a {
  position: relative;
  height: 20px;
  width: 20px;
}
.soc svg {
  height: 50%;
  width: 50%;
}

.icon-8:hover, .icon-13:hover, .icon-17:hover {
  border-radius: 100%;
  color: #0e1a25;
  fill: #0e1a25;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.icon-8 {
  color: #6ed926;
  fill: #6ed926;
}
.icon-8:hover {
  background: #6ed926;
}
.icon-13 {
  color: #26d991;
  fill: #26d991;
}
.icon-13:hover {
  background: #26d991;
}
.icon-17 {
  color: #2691d9;
  fill: #2691d9;
}
.icon-17:hover {
  background: #2691d9;
}
/*---End Footer/Social Media---*/

/*---Media Queries---*/
@media screen and (max-width: 768px) {
    /*.slider .bx-wrapper .bx-controls{
        display: none;
    }
    .parallax-inner {
        display: none;
    }*/
    .one-third {
        width: 100%;
        margin: 4% 0;
    }
    .one-third .tech-stack div img {
        margin: 0 auto;
        display: block; 
    }
    .one-third .tech-stack div {
        margin-top: 40px;
        margin-bottom: auto; 
    }
    /*.one-half {
        display: none;
    }*/
    h1 {
        font-size: 125%;
    }
    .left-col {
        width: 100%;
        margin: 0 0 3% 0;
    }
    .sidebar {
        width: 100%;
        margin: 0;
    }
    img {
        width: 100%;
    }
    h3 {
        padding-top: 3%;
    }
}
/*---End Media Queries---*/
